ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1940px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  margin-left: 175px;
  margin-right: 173px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #292929;
  cursor: pointer;
}

.header__item:not(:first-child) {
  margin-left: 72px;
}

.header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 35px;
  cursor: pointer;
}

.header-auth a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}

.btn {
  padding: 10px 30px;
  cursor: pointer;
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero__div {
  display: block;
  width: 620px;
  padding-top: 175px;
  padding-left: 165px;
  padding-bottom: 319px;
  padding-right: auto;
}

.hero {
  max-width: 1900px;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.1384615385;
  color: #01996d;
  margin-bottom: 30px;
}

.hero__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: #484848;
  margin-bottom: 18px;
  text-align: left;
}

.work__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.work {
  padding-bottom: 420px;
  background-color: #fff;
}

.work__up--title {
  width: 584px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: #01996d;
}

.work__up--description {
  margin-top: 30px;
  width: 490px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
}

.work__up--div {
  margin-left: auto;
  margin-right: auto;
}

.work__up--text {
  margin-left: 280px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.57;
  color: #424242;
}

.work__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 390px;
      flex-basis: 390px;
  gap: 95px;
}

.work__down--1 {
  width: 390px;
  position: relative;
  top: 115px;
  left: 130px;
}

.work__down--2 {
  width: 390px;
  position: relative;
  top: 460px;
  left: 60px;
}

.work__down--3 {
  width: 390px;
  position: relative;
  top: 170px;
}

.work___down--figure {
  display: block;
  bottom: 680px;
  position: absolute;
  width: 175px;
  height: 225px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 1.5;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.work__down--title {
  margin-bottom: 55px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}

.work__down--text1 {
  margin-bottom: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
}

.work__down--text2 {
  margin-bottom: 37px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
}

.work__down--text3 {
  margin-bottom: 48px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
}

.story-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #245852;
}

.story {
  margin-left: 190px;
}

.story__title {
  padding-top: 310px;
  padding-bottom: 33px;
  width: 580px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: #ffffff;
}

.story__text {
  padding-bottom: 57px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.57;
  color: #ffffff;
}

.story__img {
  padding-top: 229px;
  padding-left: 31px;
  padding-bottom: 175px;
}

.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-bottom: 243px;
}

.product__img {
  position: relative;
  padding-left: 290px;
  padding-right: 87px;
}

.product__img--s {
  position: absolute;
  width: 296px;
  height: 294px;
  background-image: url(../img/product_card.jpg);
  bottom: -60px;
  left: 220px;
}

.product {
  width: 584px;
}

.product__text {
  padding-bottom: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.57;
  color: #424242;
}

.product__title {
  padding-bottom: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: #01996d;
}

.product__description {
  padding-bottom: 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.445;
  color: #484848;
}

.footer {
  background-color: #245852;
}

.footer__div {
  padding-top: 95px;
  padding-bottom: 144px;
  padding-left: 260px;
}

.footer__logo {
  margin-bottom: 60px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.375;
  color: #ffffff;
}

.footer__link {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: #ffffff;
}

.footer__list {
  margin-top: 60px;
}

.footer__item:not(:last-child) {
  margin-bottom: 60px;
}/*# sourceMappingURL=main.css.map */