.footer {
  background-color: #245852;
}

.footer__div {
  padding-top: 95px;
  padding-bottom: 144px;
  padding-left: 260px;
}

.footer__logo {
  margin-bottom: 60px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: calc(55 / 40);
  color: #ffffff;
}

.footer__link {
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: calc(30 / 25);
  color: #ffffff;
}
.footer__list {
  margin-top: 60px;
}
.footer__item:not(:last-child) {
  margin-bottom: 60px;
}
